.floatL{float:left;}
.floatR{float:right;}
.displayNone{display:none;}
.width1180_center{width:1180px;margin:0 auto;}
.h3Style{height:30px;  font-size:18px;;color:#000000;font-weight:100; text-indent:20px;}
.clear{clear:both;}
