/*Top Start*/
.top{height:30px;width:100%;background:#EE1C24;}
.top_box{width:1180px;height:30px;margin:0 auto;background:#EE1C24;}
.top_nav{padding:8px 0 0 10px}
.top_nav li{float:left;padding-right: 14px;}
.top_nav li a{color:#FFB4B6;}
.top_nav li a:hover{color:#FBF9F9;}
.top_login_status{display: inline;padding: 8px 20px 0 0;color:#EE1C24;}
.top_login_status a{float: right;padding-right: 20px;color:#FFB4B6;}
.top_login_status a:hover{color:#FBF9F9;}
/*Top End*/
/*Logo Start*/
.logo{height: 152px;background: #EE1C24;}	
.logo_box{height: 122px;width:1180px;margin:0 auto;padding-top: 30px;background: #EE1C24;}
.logo_icon{width:300px;margin:0 auto;}	
/*Logo End*/
/*Header_Nav Start*/
.header_nav{height:60px;background:#111}
.header_nav_box{width:1180px;height:60px;background:#111;margin:0 auto;position: relative;}
.header_nav_box dl{height:60px;float:left; padding-right:15px;}
.header_nav_box dl.nav_1{width:269px;}
.header_nav_box dl.nav_2,.nav_3{width:301px;}
.header_nav_box dl dt{width:60px;height:60px;line-height: 60px;color:#FFF;float:left;font-size:20px;}
.header_nav_box dl dd{margin-left: 60px;height:60px;line-height: 25px;font-size: 16px;padding-top: 5px;}
.header_nav_box dd a{padding:0px 14px; position:relative;color:#FFF}
.header_nav_box dd a:hover{color:#EE1C24}
.header_nav_line{width:16px;height:40px;margin:10px 15px 0 0;border-left: 1px solid #777;}
.header_nav_search_show,.header_nav_search_btn{width:20px;height:20px;background:url(../img/serach_show.png) no-repeat;}
.header_nav_search_show{position:absolute;right: 21px;top:20px;}
.header_nav_search{width:200px;height:30px;background:#343434;position: absolute;right: 10px;top:15px;border-radius: 30px;-webkit-border-radius: 30px;}
.header_nav_search_input{width:165px;height:30px;line-height:30px;color:#FFF;padding: 0 26px 0 10px;border: none;background:none;}
.header_nav_search_btn{border:none;}
/*Header_Nav End*/
/*Banner Start*/
/*Banner End*/